.specializaion {
    height: 90vh;
}

.specializationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0rem;
}


.SpecializaionHeader {
    text-align: center;
    padding: 3rem 0 1rem 1rem;
}


.specializationThumbnail {
    display: block;
    text-align: center;
    border: 1px solid rgb(226, 224, 224);
    padding: 2rem 3rem;
    border-radius: 10px;

    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.29);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.29);
}

.specializationThumbnail img {
    height: 100px;
    width: 100px;
}

.Specializaion-btn {
    text-align: center;
}

.Specializaion-btn button {
    margin: auto;
    padding: .5rem 2rem;
    border-radius: 5px;
}