.specialization-props img {
    padding: 1rem;
    border: 1px solid green;
    border-radius: 5rem;
}


@media  screen and (max-width:940px) {
    .specialization-props img {
        height: 100px;
        width: 100px;
    }
}
