@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&family=Kaushan+Script&display=swap');

.hero {
    width: 100%;
    margin-left: 5%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #371B63;
    border-bottom-left-radius: 5rem;
    opacity: 0.99;
  }

  .hero:before {
    content: '';
    position: absolute;
    background: url('../../assets/hero-BG@2x.png') no-repeat center top/cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
  }


  .hero-content {
    position: relative;
    top: 20%;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
  }

  .hero-left {
    position: relative;
    width: 800px;
    margin: auto;
    left: 5%;
  }

  .hero-right {
    width: 580px;
    background: url('../../assets/hero-bg-min.jpeg') no-repeat center top/cover;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 10rem;
  }

.hero-logo {
    text-align: center;
}

.hero h1 {
    font-size: 5rem;
    text-align: left;
    color: rgb(236, 237, 237);
    font-family: 'Exo 2', sans-serif;
  }

.hero h2 {
    font-size: 1.5rem;
    text-align: left;
    color: white;
}

.hero-container p {
    font-size: 18px;
    text-align: left;
    color: white;
}

.hero .hero-btn button {
    cursor: pointer;
}


/* MEDIA QUERIES */

@media screen and (max-width:1200px) {
  
.hero {
  margin-left: 0;
}

.hero h1 {
  font-size: 4rem;
}

}


@media screen and (max-width:600px) {

  .hero-content {
    flex-wrap: wrap-reverse;
  }

.hero-right {
  display: none;
}
}



