@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

/* .hero {
    width: 100%;
    height: 70vh;
    position: relative;
    background: rgba(0, 0, 0, .2);
} */

/* .hero:before {
    content: '';
    position: absolute;
    background: url('../../assets/hero-bg.jpg')no-repeat center center/cover;
    height: 70vh;
    width: 100%;
    z-index: -1;
} */

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    object-fit: cover;
    z-index: -2;
}

.video-bg {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    object-fit: cover;
    z-index: -2;
}

.palm-image img {
    position: absolute;
    margin-top: -7rem;
    margin-left: -9rem;
}

.subtitle {
    letter-spacing: .5rem;
}

.hero .content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50rem;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 7rem;
    letter-spacing: .5rem;
    font-family: 'Arsenal', sans-serif;
}

.hero h2 {
    color: #f8f8f8;
    margin-top: -1rem;
}

.hero p {
    color:var(--primary-color);
}



@media screen and (max-width:940px) {

    .hero {
    width: 100%;
    height: 80vh;
    }

    .hero:before {
        width: 100%;
        height: 80vh;    
    }

   .hero .content {
    margin-left: 1rem;
   } 

   .hero h1 {
    font-size: 3rem;
}

.hero h2 {
    color: #f8f8f8;
    font-size: .8rem;
    margin-top: -.5rem;
    text-align: center;
}

.hero p {
    font-size: 13px;
    text-align: center;
}

.palm-image img {
    width: 15%;
    position: absolute;
    margin-top: -5.5rem;
    margin-left: -5.3rem;
}

}



/* Mobile Phone */
@media screen and (max-width:360px) {

    .hero {
    width: 100%;
    height: 80vh;
    }

    .hero:before {
        width: 100%;
        height: 80vh;    
    }

   .hero .content {
    margin-left: 0rem;
   } 

   .hero h1 {
    font-size: 2.5rem;
}

.hero h2 {
    color: #f8f8f8;
    font-size: .8rem;
    margin-top: -.5rem;
    text-align: center;
}

.hero p {
    font-size: 13px;
    text-align: center;
}

.palm-image img {
    width: 12%;
    position: absolute;
    margin-top: -2.5rem;
    margin-left: -3.6rem;
}

.hero-container {
    margin-top: 7rem;
}

}


/* 390px*/
@media screen and (max-width:390px) {


   .hero .content {
    margin-left: 0rem;
   } 

   .hero h1 {
    font-size: 2.5rem;
}

.hero h2 {
    color: #f8f8f8;
    font-size: .8rem;
    margin-top: -.5rem;
    text-align: center;
}

.hero p {
    font-size: 13px;
    text-align: center;
}

.palm-image img {
    width: 12%;
    position: absolute;
    margin-top: -2.8rem;
    margin-left: -3.9rem;
}

.hero-container {
    margin-top: 7rem;
}

}




/* Tablet */
@media screen and (max-width:768px) {
}