@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.video-bg {
    width: 100%;
    height: 80vh;
    position: relative;
    top: 0;
    background: rgba(0, 0, 0, .5);
    object-fit: cover;
}

.video-bg::before {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.hero .hero-container {
    top: 20%;
    position: absolute;
    align-items: center;
    text-align: center;
    width: 100%;
}

.hero-logo {
    text-align: center;
}

.hero-logo img {
    width: 270px;
    height: 200px;
}

.hero h2 {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.hero p {
    font-size: 24px;
    text-align: center;
    color: var(--secondary-color);
    font-style: italic;
}

.hero .hero-btn button {
    margin: auto;
    cursor: pointer;
}



/* Wave Divider - SA and MH Hero Image */

.mainHero-divider {
    width: 100%;
    position: absolute;
    bottom: -12rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 9999;
  }
  
  .mainHero-divider svg {
    position: relative;
    width: 100%;
    display: block;
    width: calc(100% + 1.3px);
    height: 243px;
    position: fixed;
  }
  
  
  @media screen and (max-width: 940px) {
  
    .mainHero-divider img {
      display: none;
    }
  
  }
  




/* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .hero h2 {
        font-size: 18px;
    }

    .hero p {
        font-size: 16px;
    }

    .hero .container {
        top: 30%;
    }
    

}
