.homeSection2 {
    padding: 1rem 0 4rem 0;
    background: #371B63;
    margin: 2rem 5rem 10rem 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 10rem;
}

.homeSection2-content {
    display: flex;
    gap: 1rem;
}

.homeSection2-left {
    width: 50%;
    height: 600px;
    position: relative;
    object-fit: contain;



}

.homeSection2-right {
    width: 600px;
    padding: 2rem;
    margin: auto;
}


.homeSection2-left img {
    top: 20%;
    position: relative;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 1rem;

}


.homeSection2-content h1 {
    font-size: 1rem;
    padding: 1rem 0;
    letter-spacing: 5px;
    color: #E17141;
}

.homeSection2-content h2 {
    font-size: 2rem;
    padding: 0 0 1rem 0;
    color: white;
}

.homeSection2-content p {
    font-size: 16px;
    text-align: left;
    color: white;
}


.checklist {
    display: flex;
    gap: 1rem;
}

.homeSection2-icon {
    font-size: 1.2rem;
    color: #E17141;
}


@media screen and (max-width:1200px) {
    .homeSection2-content {
        flex-wrap: wrap-reverse
    }

    .homeSection2-right {
        width: 100%;
    } 


    .homeSection2-left {
display: none;    } 
    
}