.WhatWeDoContainer {
    height: 75vh;
    background: url('../../assets/whatwedo-bg.jpg') no-repeat center center/cover;
}


.home-whatWeDo {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
    text-align: justify; 
    padding-top: 10rem;
}

.home-whatWeDo .description p {
    color: white;
}


.home-whatWeDo .image {
    width: 500px; 
}

.home-whatWeDo img {
    width: 100%;
    margin-top: 2rem;
    border-radius: 1rem;
}

