.WhatWeDoContainer {
    height: 75vh;
    background: url('../../assets/whatwedo-bg.jpg') no-repeat center center/cover;
}


.home-whatWeDo {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
    text-align: justify; 
    padding-top: 10rem;
}

.home-whatWeDo .description p {
    color: white;
}


.home-whatWeDo .image {
    width: 500px; 
}

.home-whatWeDo img {
    width: 100%;
    margin-top: 2rem;
    border-radius: 1rem;
}



/* MEDIA QUERIES */

/* 360 */
@media screen and (max-width:360px) {
    .home-whatWeDo {
        width: 300px;
        padding-top: 3rem;
    }

    .home-whatWeDo p {
        margin-left: -2.5rem;
    }
}


/* 390 */
@media screen and (max-width:390px) {
    .home-whatWeDo {
        width: 300px;
        padding-top: 3rem;
    }

    .home-whatWeDo p {
        font-size: 14px;
        padding: 40px;
    }
}


/* Mobile Phone */
@media screen and (max-width:940px) {

.description p{
    width: 400px;
    margin-top: -2rem;
    font-size: 16px;
}

.home-whatWeDo {
    width: 400px;
    margin-top: 1rem;
}

}
