.WhatWeDoContainer {
    height: 50vh;
    background: url('../../assets/whatwedo-bg.jpg') no-repeat center center/cover;
}


.home-container  {
    position: absolute;
    padding: 2rem 0;
}

.home-container .description h1 {
    font-size: 3rem;
}


.home-container .description p {
    color: white;
    text-align: justify;
    padding: 25px;
}







/* Small Size Devices*/
@media screen and (min-width: 320px) and (max-width:480px) {


    .home-container .description p {
        font-size: 14px;
    }


    .home-container .description h1 {
        font-size: 2rem;
    } 
    .WhatWeDoContainer {
        height: 50vh;
    }
    
}


/* Medium Size Devices*/
@media screen and (min-width: 481px) and (max-width:768px) {


    .home-container .description p {
        font-size: 14px;
    }


    .home-container .description h1 {
        font-size: 2rem;
    } 
    .WhatWeDoContainer {
        height: 40vh;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 769px) and (max-width:940px) {

    .home-container .description p {
        font-size: 14px;
    }


    .home-container .description h1 {
        font-size: 2rem;
    } 
    .WhatWeDoContainer {
        height: 30vh;
    }
    
}




