


  .get_form_inner {
    display: block;
    padding: 3rem 3rem;
    background: #fff;
    box-shadow: -4px -2px 20px -7px #cfd5df;
    margin: 2rem 5rem;
  }

input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

  input[type="text"], input[type="text"], input[type="email"], input[type="tel"] {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    height: 42px;
    padding: 0 0 0 20px;
    width: 100%;
    outline: 0;
  }

  textarea {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    padding: 12px 0 0 20px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
  }

  .get_form_inner_text h3 {
    color: #333;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  input[type="submit"] {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid;
    font-weight: 500;
    padding: 10px 20px;
    outline: 0;
    cursor: pointer;
    color: #103e65;
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  input[type="submit"]:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
  }



  @media screen and (max-width: 940px) {
    .get_form_inner {
        margin: 2rem 1rem;
      }
    }
  

/* 
.contact-cards {
    display: flex;
    flex-wrap: wrap;
}

  
#container {
    width: 350px;
    height: 150px;
    background: rgba(74, 127, 206, 0.884);
    margin: 20px auto;
    border-radius: 85px 0px 85px 0px;
    -webkit-border-radius: 85px 0px 85px 0px;
    -moz-border-radius: 85px 0px 85px 0px;
    -o-border-radius: 85px 0px 85px 0px;
    -ms-border-radius: 85px 0px 85px 0px;
    box-shadow: 1px 2px 15px rgba(0,0,0,.1), 0px 1px 8px rgba(0,0,0,.5);
     border-bottom: 5px solid rgba(0,0,0,0.5);
    }
    
    #container #imageContainer {
    width: 130px;
    height: 120px;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    -webkit-border-radius: 80px;
      
    border: 20px solid rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
    -webkit-box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
    -moz-box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
    -ms-box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
    -o-box-shadow: inset 0px 1px 15px rgba(0,0,0,.9);
    background: rgba(0,0,0,.2);
    float: right;
    margin: 15px;
    }
    
    #container  h2 {
    color: #ddd;
    line-height: 85px;
    text-shadow: -2px -1px rgba(0,0,0,.4);
    }
    
    #container p {
    color: #ddd;
    padding: 0 22px;
    text-shadow: 1px 1px rgba(0,0,0,.3);
    } */




























