@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.contact-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-hero .contact-hero-content {
    display: block;
    position: absolute;
    top: 40%;
    padding: 1rem;
}



.contact-hero h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.contact-hero h2 {
    color: white;
    font-size: 1.5rem;
}

.contact-hero h1 {
    font-size: 3rem;
}
}