@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.InsuranceSection {
    width: 100%;
    position: relative;
}

.InsuranceSection .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
}

.InsuranceSection-container {
    text-align: center;
    padding: 25px;
}

.InsuranceSection-container p {
        padding: 1rem 0;
        font-family: 'Montserrat', sans-serif;
    }

.InsuranceSection h1 {
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.insurance-thumbnail img {
    margin: 5px;
    width: 120px;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
    background: url('../../assets/team-bg.jpg') no-repeat center top/cover;
}

.teamImage {
    width: 500px;
}

.team img {
    width: 100%;
    padding: 2rem;
    margin-bottom: -2.2rem;
}

.teamCaption {
    width: 700px;
}

.teamCaption h1 {
    font-size: 3rem;
    padding: 15rem 1rem 5rem 0;
    text-align: center;
}


.wrap-divider-top {
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  

  .wrap-divider-top img {
    width: 100%;
  }
  
  @media screen and (max-width: 940px) {
  
    .wrap-divider-top img {
      display: none;
    }
  }


@media  screen and (max-width:940px) {
    .InsuranceSection-container h1 {
        font-size: 1.5rem;
        padding: 1rem 0;
    }


    .InsuranceSection-container p {
        font-size: 14px;
    }

    .teamCaption h1 {
        font-size: 2rem;
        padding: 5rem 1rem;
    }

}





