.InsuranceSection {
    width: 100%;
    position: relative;
}

.InsuranceSection .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.InsuranceSection-container {
    text-align: center;
    padding: 25px;
}


.insurance-thumbnail img {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
}

.InsuranceSection .flex-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.insuranceSection-btn button {
    margin: 1rem auto;
}

@media  screen and (max-width:940px) {
    .InsuranceSection-container h1 {
        font-size: 2rem;
    }


}





