@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');



.card-wrap
{
  width:100%;
  height: auto;
  padding: 5rem 0rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:space-around;

}

.tile
{
  width:400px;
  height:400px;
  border-radius: 17rem;
  margin:10px;
  display:inline-block;
  background-size:cover;
  position:relative;
  transition: all 0.4s ease-out;
  overflow:hidden;
  color:white;
  text-align: center;
  font-family:'Roboto';
  box-shadow: 10px 5px 5px rgba(129, 129, 129, 0.541);
}

.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
  border-radius: 17rem;
  box-shadow: 10px 5px 5px rgb(129, 129, 129);
  border: 6px solid rgba(4, 44, 4, 0.301);
}

.tile img:hover {
  filter: blur(4px);
  transition: 0.5s ease-in-out;
}

.tile .text {
  position:absolute;
  top: 20%;
}

.tile-header h1 {
  color: rgb(5, 48, 9);
  font-size: 1rem;
  padding: 2rem 0 0 0;
  font-weight:600;
}

.tile h1 {
  font-size: 1rem;
  color: white;
}

.tile h2 {
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}

.tile p
{
  font-weight:300;
  margin:20px;
  line-height: 18px;
  opacity:0;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}


.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}

.tile:hover {
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.849);
  transform:scale(1.05);
} 

.tile:hover img {
  opacity: 0.2;
} 

.tile:hover .animate-text {
  transform:translateX(0);
  opacity:1;
}


.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}


.cards-header {
    width: auto;
    text-align: center;
    padding: 1rem;
}

.cards-header span {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

}

.cards-header h1 {
  font-size: 1.5rem;
  text-align: center;
    margin: 1rem auto;
    font-family: 'Montserrat', sans-serif;
}

.cards-header p {
  font-family: 'Montserrat', sans-serif;
}

  @media (max-width: 940px) {
    .card-wrap {
      width: 100%;
    }
  
    .tile { 
      width: 350px;
      height:360px;
    }

    .tile p {
      font-size: 12px;
    }

    .cards-header h1 {
    text-align: center;
    }

    .cards-header p {
      text-align: center;
    }

  
  }
